
spring :
  application :
    name : events-service
  datasource:
    name: events-service
    url: jdbc:mysql://mysql:${MYSQL_CONTAINER_PORT}/events-service
    username: root
    password: ${MYSQL_ROOT_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      bootstrap-servers: ${KAFKA_HOST}:${KAFKA_PORT}



server :
  port : ${SERVER_PORT} 

management:
  endpoints:
    web:
      exposure:
        include: health,info



eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:${DISCOVERY_PORT}/eureka


DATA:
  JWT_SECRET : ${JWT_SECRET}


springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}





