version: '3.1'

networks:
  nextshow-network:
    driver: bridge

volumes:
  mysql_data:
  maven_repo:

services:
#   # Build DTO
#   dto-build:
#     build:
#       context: ./nextshow-dto
#     container_name: dto-build
#     command: mvn clean install -DskipTests
#     volumes:
#       - maven_repo:/root/.m2
#     networks:
#       - nextshow-network

  # ---------- Infrastructure Services ----------

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "${ZOOKEEPER_PORT}:${ZOOKEEPER_PORT}"
    networks:
      - nextshow-network

  kafka-server:
    image: wurstmeister/kafka
    container_name: kafka-server
    ports:
      - "${KAFKA_PORT}:${KAFKA_PORT}"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:${ZOOKEEPER_PORT}
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${KAFKA_HOST}:${KAFKA_PORT}
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:${KAFKA_PORT}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
    depends_on:
      - zookeeper
    healthcheck:
      test: ["CMD", "bash", "-c", "echo > /dev/tcp/${KAFKA_HOST}/${KAFKA_PORT}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - nextshow-network

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    healthcheck:
      test: ["CMD", "redis-cli", "-h", "redis", "-p", "${REDIS_PORT}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - nextshow-network

  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    ports:
      - "${MYSQL_EXPOSED_PORT}:${MYSQL_CONTAINER_PORT}"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init-multiple-dbs.sql:/docker-entrypoint-initdb.d/init-multiple-dbs.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "mysql", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - nextshow-network

  # ---------- Microservices ----------

  discovery-service:
    build:
      context: ./nextshow-discovery-client
      args:
        GITHUB_USERNAME: ${GITHUB_USERNAME}
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: discovery-service
    ports:
      - "${DISCOVERY_PORT}:${DISCOVERY_PORT}"
    environment:
      SERVER_PORT: ${DISCOVERY_PORT}
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://discovery-service:${DISCOVERY_PORT}"]
      interval: 15s
      timeout: 5s
      retries: 15
    volumes:
      - maven_repo:/root/.m2
    networks:
      - nextshow-network

  gateway-service:
    build:
      context: ./nextshow-gateway
      args:
        GITHUB_USERNAME: ${GITHUB_USERNAME}
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: gateway-service
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    environment:
      SERVER_PORT: ${GATEWAY_PORT}
      FRONTEND_HOST: ${FRONTEND_HOST}
      FRONTEND_PORT: ${FRONTEND_PORT}
      FRONTEND_PROTOCOL: ${FRONTEND_PROTOCOL}
      DISCOVERY_PORT: ${DISCOVERY_PORT}
    depends_on:
      discovery-service:
        condition: service_healthy
      mysql:
        condition: service_healthy
    volumes:
      - maven_repo:/root/.m2
    networks:
      - nextshow-network

#services
  booking-service:
    build:
      context: ./booking-service
      args:
        GITHUB_USERNAME: ${GITHUB_USERNAME}
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: booking-service
    ports:
      - "${BOOKING_PORT}:${BOOKING_PORT}"
    environment:
      SERVER_PORT: ${BOOKING_PORT}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_CONTAINER_PORT: ${MYSQL_CONTAINER_PORT}
      KAFKA_HOST: ${KAFKA_HOST}
      KAFKA_PORT: ${KAFKA_PORT}
      JWT_SECRET: ${JWT_SECRET}
      DISCOVERY_PORT: ${DISCOVERY_PORT}
    depends_on:
      discovery-service:
        condition: service_healthy
      mysql:
        condition: service_healthy
      kafka-server:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - maven_repo:/root/.m2
    networks:
      - nextshow-network

  events-service:
    build:
      context: ./events-service
      args:
        GITHUB_USERNAME: ${GITHUB_USERNAME}
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: events-service
    ports:
      - "${EVENTS_PORT}:${EVENTS_PORT}"
    environment:
      SERVER_PORT: ${EVENTS_PORT}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      MYSQL_CONTAINER_PORT: ${MYSQL_CONTAINER_PORT}
      KAFKA_HOST: ${KAFKA_HOST}
      KAFKA_PORT: ${KAFKA_PORT}
      JWT_SECRET: ${JWT_SECRET}
      DISCOVERY_PORT: ${DISCOVERY_PORT}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      discovery-service:
        condition: service_healthy
      mysql:
        condition: service_healthy
      kafka-server:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - maven_repo:/root/.m2
    networks:
      - nextshow-network

  shows-service:
    build:
      context: ./shows-service
      args:
        GITHUB_USERNAME: ${GITHUB_USERNAME}
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: shows-service
    ports:
      - "${SHOWS_PORT}:${SHOWS_PORT}"
    environment:
      SERVER_PORT: ${SHOWS_PORT}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      KAFKA_HOST: ${KAFKA_HOST}
      MYSQL_CONTAINER_PORT: ${MYSQL_CONTAINER_PORT}
      KAFKA_PORT: ${KAFKA_PORT}
      JWT_SECRET: ${JWT_SECRET}
      DISCOVERY_PORT: ${DISCOVERY_PORT}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      discovery-service:
        condition: service_healthy
      mysql:
        condition: service_healthy
      kafka-server:
        condition: service_healthy
    volumes:
      - maven_repo:/root/.m2
    networks:
      - nextshow-network

  payments-notification-service:
    build:
      context: ./paymentsAndNotifictionService
      args:
        GITHUB_USERNAME: ${GITHUB_USERNAME}
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: payments-notification-service
    ports:
      - "${PAYMENTS_PORT}:${PAYMENTS_PORT}"
    environment:
      SERVER_PORT: ${PAYMENTS_PORT}
      FRONTEND_HOST: ${FRONTEND_HOST}
      FRONTEND_PORT: ${FRONTEND_PORT}
      FRONTEND_PROTOCOL: ${FRONTEND_PROTOCOL}
      NEXTSHOW_MAIL: ${NEXTSHOW_MAIL}
      SMTP_PORT: ${SMTP_PORT}
      MYSQL_CONTAINER_PORT: ${MYSQL_CONTAINER_PORT}
      KAFKA_HOST: ${KAFKA_HOST}
      KAFKA_PORT: ${KAFKA_PORT}
      JWT_SECRET: ${JWT_SECRET}
      DISCOVERY_PORT: ${DISCOVERY_PORT}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_PUBLIC_KEY: ${STRIPE_PUBLIC_KEY}
    depends_on:
      discovery-service:
        condition: service_healthy
      mysql:
        condition: service_healthy
      kafka-server:
        condition: service_healthy
    volumes:
      - maven_repo:/root/.m2
    networks:
      - nextshow-network

  user-service:
    build:
      context: ./UserService
      args:
        GITHUB_USERNAME: ${GITHUB_USERNAME}
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: user-service
    ports:
      - "${USER_PORT}:${USER_PORT}"
    environment:
      SERVER_PORT: ${USER_PORT}
      FRONTEND_HOST: ${FRONTEND_HOST}
      FRONTEND_PORT: ${FRONTEND_PORT}
      FRONTEND_PROTOCOL: ${FRONTEND_PROTOCOL}
      MYSQL_CONTAINER_PORT: ${MYSQL_CONTAINER_PORT}
      KAFKA_HOST: ${KAFKA_HOST}
      KAFKA_PORT: ${KAFKA_PORT}
      JWT_SECRET: ${JWT_SECRET}
      DISCOVERY_PORT: ${DISCOVERY_PORT}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      GOOGLE_OAUTH_CLIENT_ID: ${GOOGLE_OAUTH_CLIENT_ID}
      GOOGLE_OAUTH_CLIENT_SECRET: ${GOOGLE_OAUTH_CLIENT_SECRET}
      NEXTSHOW_DOMAIN: ${NEXTSHOW_DOMAIN}
      GATEWAY_PORT: ${GATEWAY_PORT}
    depends_on:
      discovery-service:
        condition: service_healthy
      mysql:
        condition: service_healthy
    volumes:
      - maven_repo:/root/.m2
    networks:
      - nextshow-network
