spring :
  application : 
    name : "booking-service"
  datasource:
    name: shows-service
    url: jdbc:mysql://mysql:${MYSQL_CONTAINER_PORT}/booking-service
    username: root
    password: ${MYSQL_ROOT_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: ${KAFKA_HOST}:${KAFKA_PORT}
    admin:
      bootstrap-servers: ${KAFKA_HOST}:${KAFKA_PORT}
      auto-create: true
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      bootstrap-servers: ${KAFKA_HOST}:${KAFKA_PORT}
      group-id: rohan-group-01
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: "*"

server :
  port : ${SERVER_PORT}

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:${DISCOVERY_PORT}/eureka

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

DATA:
  JWT_SECRET : ${JWT_SECRET}

logging:
  level:
    org:
      springframework:
        security: DEBUG

feign:
  client:
    config:
      default:
        loggerLevel : full