app:
  frontend:
    protocol: ${FRONTEND_PROTOCOL}
    host: ${FRONTEND_HOST}
    port: ${FRONTEND_PORT}
    base-url: ${app.frontend.protocol}://${app.frontend.host}:${app.frontend.port}

spring:
  application:
    name: api-gateway

  main:
    web:
      application:
        type: reactive

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - ${app.frontend.base-url}
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: movies-service
          uri: lb://movies-service
          predicates:
            - Path=/movies/**

        - id: screens-service
          uri: lb://movies-service
          predicates:
            - Path=/screens/**

        - id: theaters-service
          uri: lb://movies-service
          predicates:
            - Path=/theaters/**

        - id: user-service
          uri: lb://users-service
          predicates:
            - Path=/user/**

        - id: auth-service
          uri: lb://users-service
          predicates:
            - Path=/auth/**

        - id: shows-service
          uri: lb://shows-service
          predicates:
            - Path=/shows/**

        - id: events-service
          uri: lb://events-service
          predicates:
            - Path=/eventsAPI/**

        - id: booking-service
          uri: lb://booking-service
          predicates:
            - Path=/Bookings/**

        - id: payments-and-notification-service
          uri: lb://payments-and-notification-service
          predicates:
            - Path=/payment-checkout/**

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:${DISCOVERY_PORT}/eureka

server:
  port: ${SERVER_PORT}

logging:
  level:
    org.springframework.cloud.gateway: DEBUG



management:
  endpoints:
    web:
      exposure:
        include: health,info
