-- MySQL dump 10.13  Distrib 8.0.34, for Win64 (x86_64)
--
-- Host: localhost    Database: booking-service
-- ------------------------------------------------------
-- Server version	8.0.34

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `booking-service`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `booking-service` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `booking-service`;

--
-- Table structure for table `booking`
--

DROP TABLE IF EXISTS `booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking` (
  `booking_id` bigint NOT NULL AUTO_INCREMENT,
  `booking_status` tinyint DEFAULT NULL,
  `final_price` double DEFAULT NULL,
  `show_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`booking_id`)
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking`
--

LOCK TABLES `booking` WRITE;
/*!40000 ALTER TABLE `booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking_archive`
--

DROP TABLE IF EXISTS `booking_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking_archive` (
  `booking_id` bigint NOT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `booking_status` tinyint DEFAULT NULL,
  `final_price` double DEFAULT NULL,
  `show_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`booking_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking_archive`
--

LOCK TABLES `booking_archive` WRITE;
/*!40000 ALTER TABLE `booking_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking_status_response`
--

DROP TABLE IF EXISTS `booking_status_response`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking_status_response` (
  `bookingid` varchar(255) NOT NULL,
  `status` varchar(255) DEFAULT NULL,
  `timestamp` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`bookingid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking_status_response`
--

LOCK TABLES `booking_status_response` WRITE;
/*!40000 ALTER TABLE `booking_status_response` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking_status_response` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seat`
--

DROP TABLE IF EXISTS `seat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seat` (
  `seat_id` varchar(255) NOT NULL,
  `seat_price` double DEFAULT NULL,
  `seat_status` tinyint DEFAULT NULL,
  `booking_booking_id` bigint DEFAULT NULL,
  PRIMARY KEY (`seat_id`),
  KEY `FK4lm55i0fe5ih6wxhgbppd9jy9` (`booking_booking_id`),
  CONSTRAINT `FK4lm55i0fe5ih6wxhgbppd9jy9` FOREIGN KEY (`booking_booking_id`) REFERENCES `booking` (`booking_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seat`
--

LOCK TABLES `seat` WRITE;
/*!40000 ALTER TABLE `seat` DISABLE KEYS */;
/*!40000 ALTER TABLE `seat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seat_archive`
--

DROP TABLE IF EXISTS `seat_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seat_archive` (
  `seat_id` varchar(255) NOT NULL,
  `seat_price` double DEFAULT NULL,
  `seat_status` tinyint DEFAULT NULL,
  `booking_archive_booking_id` bigint DEFAULT NULL,
  PRIMARY KEY (`seat_id`),
  KEY `FKp9cljt1tgpmp6r33y5kksy7n5` (`booking_archive_booking_id`),
  CONSTRAINT `FKp9cljt1tgpmp6r33y5kksy7n5` FOREIGN KEY (`booking_archive_booking_id`) REFERENCES `booking_archive` (`booking_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seat_archive`
--

LOCK TABLES `seat_archive` WRITE;
/*!40000 ALTER TABLE `seat_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `seat_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `events-service`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `events-service` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `events-service`;

--
-- Table structure for table `auditorium`
--

DROP TABLE IF EXISTS `auditorium`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditorium` (
  `auditorium_id` bigint NOT NULL AUTO_INCREMENT,
  `auditorium` tinyint DEFAULT NULL,
  `city` varchar(255) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `numberofblocks` int DEFAULT NULL,
  `seats_arrangement` json DEFAULT NULL,
  PRIMARY KEY (`auditorium_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditorium`
--

LOCK TABLES `auditorium` WRITE;
/*!40000 ALTER TABLE `auditorium` DISABLE KEYS */;
INSERT INTO `auditorium` VALUES (1,0,'Bangalore111','MG Road111','PVR Main Hall1111',2,'[[10, 10, 10], [10, 10, 10], [10, 10, 10]]'),(2,0,'PUNE','FC ROAD','INOX',1,'[[10, 10, 10], [10, 10, 10]]');
/*!40000 ALTER TABLE `auditorium` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event`
--

DROP TABLE IF EXISTS `event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event` (
  `event_id` bigint NOT NULL AUTO_INCREMENT,
  `description` varchar(255) DEFAULT NULL,
  `duration` time(6) DEFAULT NULL,
  `genre` varchar(255) DEFAULT NULL,
  `release_date` date DEFAULT NULL,
  `event_type` varchar(255) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `meta_data` bigint DEFAULT NULL,
  PRIMARY KEY (`event_id`),
  UNIQUE KEY `UKj4t6wq3q8vekson37xb7fa2ga` (`meta_data`),
  CONSTRAINT `FKgp9bku1jto281deg06dri5rqe` FOREIGN KEY (`meta_data`) REFERENCES `event_metadata` (`movies_metadata_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event`
--

LOCK TABLES `event` WRITE;
/*!40000 ALTER TABLE `event` DISABLE KEYS */;
/*!40000 ALTER TABLE `event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_language`
--

DROP TABLE IF EXISTS `event_language`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_language` (
  `event_event_id` bigint NOT NULL,
  `language` varchar(255) DEFAULT NULL,
  KEY `FK1ymo8n8sj8p4ruqletfeughgf` (`event_event_id`),
  CONSTRAINT `FK1ymo8n8sj8p4ruqletfeughgf` FOREIGN KEY (`event_event_id`) REFERENCES `event` (`event_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_language`
--

LOCK TABLES `event_language` WRITE;
/*!40000 ALTER TABLE `event_language` DISABLE KEYS */;
INSERT INTO `event_language` VALUES (2,'English'),(2,'Hindi'),(4,'English'),(4,'Hindi'),(5,'English'),(5,'Hindi'),(6,'English'),(6,'Hindi'),(7,'English'),(7,'Hindi'),(8,'English'),(8,'Hindi'),(9,'English'),(9,'Hindi'),(14,'English'),(14,'Hindi'),(3,'English'),(3,'Hindi'),(15,'English');
/*!40000 ALTER TABLE `event_language` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_metadata`
--

DROP TABLE IF EXISTS `event_metadata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_metadata` (
  `movies_metadata_id` bigint NOT NULL AUTO_INCREMENT,
  `posterurl` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`movies_metadata_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_metadata`
--

LOCK TABLES `event_metadata` WRITE;
/*!40000 ALTER TABLE `event_metadata` DISABLE KEYS */;
INSERT INTO `event_metadata` VALUES (1,'https://example.com/inception.jpg'),(2,'https://example.com/inception.jpg'),(3,'https://example.com/inception-poster.jpg'),(4,'https://example.com/inception-poster.jpg'),(5,'https://example.com/inception-poster.jpg'),(6,'https://example.com/inception-poster.jpg'),(7,'https://example.com/inception-poster.jpg'),(8,'https://example.com/inception-poster.jpg'),(9,'https://example.com/inception-poster.jpg'),(14,'https://example.com/inception-poster.jpg'),(15,'https://upload.wikimedia.org/wikipedia/en/0/03/NBA_logo.svg');
/*!40000 ALTER TABLE `event_metadata` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_metadata_cast`
--

DROP TABLE IF EXISTS `event_metadata_cast`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_metadata_cast` (
  `event_metadata_movies_metadata_id` bigint NOT NULL,
  `cast` varchar(255) DEFAULT NULL,
  KEY `FKrky1s4idc5po5rt193jbupm6` (`event_metadata_movies_metadata_id`),
  CONSTRAINT `FKrky1s4idc5po5rt193jbupm6` FOREIGN KEY (`event_metadata_movies_metadata_id`) REFERENCES `event_metadata` (`movies_metadata_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_metadata_cast`
--

LOCK TABLES `event_metadata_cast` WRITE;
/*!40000 ALTER TABLE `event_metadata_cast` DISABLE KEYS */;
INSERT INTO `event_metadata_cast` VALUES (1,'Leonardo DiCaprio'),(1,'Joseph Gordon-Levitt'),(2,'Leonardo DiCaprio'),(2,'Joseph Gordon-Levitt'),(4,'Leonardo DiCaprio'),(4,'Joseph Gordon-Levitt'),(5,'Leonardo DiCaprio'),(5,'Joseph Gordon-Levitt'),(6,'Leonardo DiCaprio'),(6,'Joseph Gordon-Levitt'),(7,'Leonardo DiCaprio'),(7,'Joseph Gordon-Levitt'),(8,'Leonardo DiCaprio'),(8,'Joseph Gordon-Levitt'),(9,'Leonardo DiCaprio'),(9,'Joseph Gordon-Levitt'),(14,'Leonardo DiCaprio'),(14,'Joseph Gordon-Levitt'),(3,'Leonardo DiCaprio'),(3,'Joseph Gordon-Levitt'),(15,'LeBron James'),(15,'Jayson Tatum');
/*!40000 ALTER TABLE `event_metadata_cast` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `shows-service`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `shows-service` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `shows-service`;

--
-- Table structure for table `shows`
--

DROP TABLE IF EXISTS `shows`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shows` (
  `show_id` bigint NOT NULL AUTO_INCREMENT,
  `auditorium_id` bigint NOT NULL,
  `end_time` datetime(6) NOT NULL,
  `event_id` bigint NOT NULL,
  `start_time` datetime(6) NOT NULL,
  PRIMARY KEY (`show_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shows`
--

LOCK TABLES `shows` WRITE;
/*!40000 ALTER TABLE `shows` DISABLE KEYS */;
INSERT INTO `shows` VALUES (1,1,'2025-02-12 21:00:00.000000',1,'2025-02-12 18:00:00.000000'),(2,1,'2025-02-12 21:00:00.000000',1,'2025-02-12 18:00:00.000000'),(4,1,'2025-06-20 20:00:00.000000',15,'2025-06-20 18:00:00.000000');
/*!40000 ALTER TABLE `shows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shows_blockprices`
--

DROP TABLE IF EXISTS `shows_blockprices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shows_blockprices` (
  `shows_show_id` bigint NOT NULL,
  `blockprices` int NOT NULL,
  KEY `FKbrk48xrpt4bar2567emkirfee` (`shows_show_id`),
  CONSTRAINT `FKbrk48xrpt4bar2567emkirfee` FOREIGN KEY (`shows_show_id`) REFERENCES `shows` (`show_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shows_blockprices`
--

LOCK TABLES `shows_blockprices` WRITE;
/*!40000 ALTER TABLE `shows_blockprices` DISABLE KEYS */;
INSERT INTO `shows_blockprices` VALUES (1,500),(1,750),(1,1000),(2,500),(2,750),(2,1000),(2,2000),(4,150),(4,250);
/*!40000 ALTER TABLE `shows_blockprices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `users-service`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `users-service` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `users-service`;

--
-- Table structure for table `refresh_token`
--

DROP TABLE IF EXISTS `refresh_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refresh_token` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `expires_at` datetime(6) NOT NULL,
  `is_revoked` bit(1) NOT NULL,
  `jti` varchar(36) NOT NULL,
  `last_used_at` datetime(6) DEFAULT NULL,
  `token_hash` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_tohckreilkhueuxpf5nci51o0` (`jti`)
) ENGINE=InnoDB AUTO_INCREMENT=106 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_token`
--

LOCK TABLES `refresh_token` WRITE;
/*!40000 ALTER TABLE `refresh_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKsb8bbouer5wak8vyiiy4pf2bx` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_roles` (
  `user_id` bigint NOT NULL,
  `roles` varchar(255) DEFAULT NULL,
  KEY `FK55itppkw3i07do3h7qoclqd4k` (`user_id`),
  CONSTRAINT `FK55itppkw3i07do3h7qoclqd4k` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
INSERT INTO `user_roles` VALUES (1,'ROLE_USER'),(2,'ADMIN'),(3,'ADMIN'),(3,'USER'),(4,'ADMIN'),(4,'USER'),(5,'USER'),(6,'USER'),(7,'USER'),(8,'USER');
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-27 17:48:07
