spring :
  application :
    name : users-service
  datasource:
    name: users-service
    url: jdbc:mysql://mysql:${MYSQL_CONTAINER_PORT}/users-service
    username: root
    password: ${MYSQL_ROOT_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_OAUTH_CLIENT_ID}
            client-secret: ${GOOGLE_OAUTH_CLIENT_SECRET}

server :
  port : ${SERVER_PORT}

logging:
  level:
    org:
      springframework:
        security: DEBUG


management:
  endpoints:
    web:
      exposure:
        include: health,info


DATA :
  JWT_SECRET : ${JWT_SECRET}


eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:${DISCOVERY_PORT}/eureka

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html


app:
  frontend:
    protocol: ${FRONTEND_PROTOCOL}
    host: ${FRONTEND_HOST}
    port: ${FRONTEND_PORT}
    base-url: ${app.frontend.protocol}://${app.frontend.host}:${app.frontend.port}

  gateway_port: ${GATEWAY_PORT}
  nextshow_domain: ${NEXTSHOW_DOMAIN}
    