spring :
  application:
    name : nextshow-discovery-client


server:
  port: ${SERVER_PORT}

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false


management:
  endpoints:
    web:
      exposure:
        include: health,info

