spring: 
  application: 
    name: "payments-and-notification-service"
  datasource:
    name: paymentsandnotifictionservice
    url: jdbc:mysql://mysql:${MYSQL_CONTAINER_PORT}/payments-and-notification-service
    username: root
    password: ${MYSQL_ROOT_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    admin:
      auto-create: true
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      bootstrap-servers: ${KAFKA_HOST}:${KAFKA_PORT}
      properties:
        metadata.max.age.ms: 10
    consumer:
      bootstrap-servers: ${KAFKA_HOST}:${KAFKA_PORT}
      group-id: rohan-group-01
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
  mail:
    host: smtp.gmail.com
    port: ${SMTP_PORT}
    username: ${NEXTSHOW_MAIL}
    password: jpws grxu xfjw leab
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


stripe:
  secret-key: ${STRIPE_SECRET_KEY}
  public-key: ${STRIPE_PUBLIC_KEY}

app:
  frontend:
    protocol: ${FRONTEND_PROTOCOL}
    host: ${FRONTEND_HOST}
    port: ${FRONTEND_PORT}
    base-url: ${app.frontend.protocol}://${app.frontend.host}:${app.frontend.port}
                                  

server :
  port : ${SERVER_PORT}

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:${DISCOVERY_PORT}/eureka

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

DATA:
  JWT_SECRET : ${JWT_SECRET}


management:
  endpoints:
    web:
      exposure:
        include: health,info
